@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap");
@font-face {
  font-family: "flyoverregular";
  src: url("/assets/flyover/flyover.eot");
  src: url("/assets/flyover/flyover.eot?#iefix") format("embedded-opentype"),
    url("/assets/flyover/flyover.woff2") format("woff2"),
    url("/assets/flyover/flyover.woff") format("woff"),
    url("/assets/flyover/flyover.ttf") format("truetype"),
    url("/assets/flyover/flyover.svg#flyoverregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "flyoverregular";
  color: #fdc675;
  margin-bottom: 0.5rem;
  font-weight: 200;
}
h1 {
  font-size: 60px;
  line-height: 55px;
}
h2 {
  text-align: center;
  font-size: 25px;
  line-height: 27px;
}
h3 {
  font-size: 18px;
  margin: auto;
  text-align: center;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: #262626;
  color: #ead6b1;
}

img {
  width: 100%;
}

p,
span {
  @media only screen and (max-width: 350px) {
    font-size: 14px;
  }
}

input {
  line-height: 2.5rem;
  height: 2.5rem;
}

textarea,
input {
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background: #202020;
  color: #ead6b1;
  outline: none;
  padding-left: 10px;
  &::placeholder {
    opacity: 0.7;
  }
}

textarea {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-top: 8px;
  line-height: 1rem;
  height: 8rem;
  resize: none;
}

button {
  background: #464646;
  border: unset;
  height: 2.5rem;
  border-radius: 4px;
  color: #ead6b1;
  cursor: pointer;
  &:hover {
    background: lighten(#464646, 5%);
  }
}

label {
  color: #ead6b1;
  margin: 8px 0;
}

.section {
  max-width: 768px;
  margin: 0 auto;

  p {
    a,
    .artwork-link,
    .contact-link,
    label,
    textarea,
    input {
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: darken(#ead6b1, 10%);
      }
    }
  }
}
.section-md {
  margin: auto;
  max-width: 576px;
}

.container {
  position: relative;
}

// homepage

.logo {
  @media only screen and (max-width: 700px) {
    display: none;
  }
}

.logo_2 {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 0 1rem;
  display: none;
  z-index: 2;
  @media only screen and (max-width: 700px) {
    display: block;
  }
  @media only screen and (max-width: 350px) {
    padding: 0 6px;
  }
}

.page-break {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;

  @media only screen and (max-width: 576px) {
    margin: 4rem auto;
    width: 24px;
  }
  img {
    width: 33px;
    animation: spin 2s linear infinite;

    @media only screen and (max-width: 576px) {
      width: 24px;
    }
  }
}

.intro-container {
  padding-top: 2.5rem;

  @media only screen and (max-width: 576px) {
    padding-top: 1rem;
    padding-left: 2.5rem;
  }

  p {
    margin-bottom: 2rem;
    text-align: left;
    @media only screen and (max-width: 576px) {
      padding-right: 8px;
    }

    @media only screen and (max-width: 350px) {
      padding: 0 0 0 8px;
    }
  }

  @media only screen and (max-width: 350px) {
    padding: 1rem 6px 1rem 28px;
  }
}

.skills {
  padding-left: 2rem;
  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .code,
  .design,
  .trait {
    max-width: 768px;
    margin-bottom: 1rem;
    span:nth-child(1) {
      text-decoration: unset;
    }
  }

  .code {
    span {
      margin: 2px;
      display: inline-block;
      text-decoration: underline;
    }
  }
  .design {
    span {
      margin: 2px;
      display: inline-block;
      text-decoration: underline;
    }
  }
  .trait {
    span {
      margin: 2px;
      display: inline-block;
      text-decoration: underline;
    }
  }

  @media only screen and (max-width: 576px) {
    padding: 0 1rem;
  }
}

// artwork

.artwork {
  overflow: auto;
  display: none;
  background: #262626;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  .artwork-inner {
    // padding-top: 4rem;
    max-width: 768px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .portrait {
    display: flex;
    .portrait-img {
      width: 50%;
    }
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  width: 100%;
  background: #262626;
  height: 4rem;

  h2 {
    margin: auto;
  }
  .fa-xmark {
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 22px;
    cursor: pointer;

    &:hover {
      color: darken(#ead6b1, 10%);
    }
    // @media only screen and (max-width: 576px) {
    //   margin-right: 0;
    // }
  }
}

// Blog

.blog-section {
  .blog-img {
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
  }
}

.blog-container {
  padding-top: 1rem;
  @media only screen and (max-width: 576px) {
    background: #262626;
    z-index: 4;
    position: relative;
    padding: 0 1rem 5rem 1rem;
  }
}

.article-img {
  height: 100%;
  width: 100%;
  background-position: center;
}

.blog-excerpt {
  background: #262626;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 1rem;
  @media only screen and (max-width: 576px) {
    gap: unset;
    display: block;
  }

  .article {
    cursor: pointer;

    &:hover > p {
      color: darken(#ead6b1, 10%);
    }
    h2 {
      text-align: center;
      margin-top: 1.5rem;
    }

    @media only screen and (max-width: 576px) {
      padding: 1rem;
    }
    &:last-child {
      padding-bottom: 6rem;
    }
  }
}

.page-container {
  min-height: 100%;
  position: relative;
}

.content-wrap {
  padding-bottom: 8rem;
  min-height: 100vh;

  @media only screen and (max-width: 1200px) {
    padding-left: 57px;
    margin: 0 1rem;
  }
  @media only screen and (max-width: 700px) {
    padding-left: 57px;
    margin: 0 0.5rem;
  }

  @media only screen and (max-width: 576px) {
    padding: unset;
    margin: unset;
  }
}

.contact {
  display: none;
}

.topbar {
  padding-left: 2rem;
  @media only screen and (max-width: 350px) {
    padding-left: 2rem;
  }
}

.contact-inner {
  padding-top: 2.5rem;
  p {
    margin-bottom: 2rem;
  }
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  input {
    margin-bottom: 0.5rem;
  }

  button {
    margin-top: 30px;
  }

  @media only screen and (max-width: 576px) {
    padding: 2.5rem 1rem 0 3rem;
  }
  @media only screen and (max-width: 350px) {
    padding: 2.5rem 2rem 0 3rem;
  }

  .recaptcha {
    margin: 1rem 0;
  }
}

.roses {
  display: block;
  background-image: url("../assets/roses.svg");
  background-size: contain;
  background-repeat: repeat-y;
  height: calc(100% + 8rem);
  width: 57px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  @media only screen and (max-width: 576px) {
    width: 32px;
  }
  @media only screen and (max-width: 350px) {
    width: 25px;
  }
}

// .loader {
//   border: 16px solid #202020;
//   border-top: 16px solid #fdc675;
//   border-radius: 50%;
//   width: 120px;
//   height: 120px;
//   animation: spin 2s linear infinite;
//   text-align: left;
//   position: absolute;
//   top: calc(80vh - (100px / 2));
//   left: calc(50vw - (140px / 2));
//   margin-left: 2.5rem;
// }

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  padding: 2rem 0;
  padding-left: 89.25px;
  padding-right: 89.25px;
  white-space: nowrap;
  width: 100%;
  height: 8rem;
  background: #202020;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: absolute;
  z-index: 1;

  @media only screen and (max-width: 576px) {
    padding: 0.5rem 2rem;
  }

  a {
    i {
      margin-right: 4px;
    }
    margin: 0 0.5rem;
    padding: 0.5rem;

    &:hover {
      color: darken(#ead6b1, 10%);
    }
  }
  span {
    margin-left: 1rem;
    padding: 0.5rem;
  }
}
